
body{
    background-color: rgb(31, 29, 29);
    
}
.navbar{
   display: flex;
   justify-content: start;
   align-items: center;
   position:fixed;
   width: 100%;
   height: 10%;
   top: 0;
   left: 0;
   background-color: rgb(83, 83, 81);
}
.navbar ul{
    min-width: 10cm;
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    text-decoration: none;
}
.navbar a{
    text-decoration: none;
    color: white;
}

header{
    padding-top: 10.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
   
}
.inicio{
    min-height: 93vh;
}

.productos{
    min-height: 93vh;
}
.productos h2{
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    color: white;
}